.loader {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 25px;
	height: 25px;
	border: 5px solid gray;
	border-radius: 50%;
	border-left-color: transparent;
	animation: loader 1s infinite;
}

@keyframes loader {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.container {
	margin-left: 33%;
	width: 33%;
}
/* Удалите поля и отступы из списка */
.list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

/* Стиль элементов списка */
.list li {
	display: flex;
	flex-direction: row;
	cursor: pointer;
	position: relative;

	list-style-type: none;
	background: #eee;
	font-size: 18px;
	transition: 0.2s;

	/* сделайте элементы списка просматриваемыми */
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.list li p {
	margin-left: 70px;
	width: 85%;
}
/* Установите для всех нечетных элементов списка другой цвет (полосы зебры) */
.list li:nth-child(odd) {
	background: #f9f9f9;
}

/* Более темный фон-цвет при наведении курсора */
.list li:hover {
	background: #ddd;
}

/* При нажатии на кнопку добавить цвет фона и вычеркнуть текст */
.list li.checked {
	background: #888;
	color: #fff;
	text-decoration: line-through;
}

/* Добавить отметку "проверено" при нажатии на нее */
.list li.checked::before {
	content: '';
	position: absolute;
	border-color: #fff;
	border-style: solid;
	border-width: 0 2px 2px 0;
	top: 10px;
	left: 16px;
	transform: rotate(45deg);
	height: 15px;
	width: 7px;
}

/* Стиль кнопки закрытия */
.close {
	position: absolute;
	right: 0;
	top: 0;
	padding: 2px 6px 2px 6px;
}
.edit {
	position: absolute;
	left: 10px;
	top: 15px;
	width: 30px;
	height: 30px;
}
.close:hover {
	background-color: #f44336;
	color: white;
}
.edit:hover {
	position: absolute;
	left: 5px;
	top: 10px;
	width: 40px;
	height: 40px;
	background-color: #5e99b4;
	color: white;
}
/* Стиль заголовка */
.header,
.footer {
	background-color: #5e99b4;
	padding: 30px 40px;
	color: white;
	text-align: center;
}
.footer {
	padding-top: 10px;
	height: 100px;
}

/* Очистить поплавки после заголовка */
.header:after {
	content: '';
	display: table;
	clear: both;
}

/* Стиль ввода */
input {
	margin: 0;
	border: none;
	border-radius: 0;
	width: 60%;
	padding: 10px;
	float: left;
	font-size: 16px;
}

/* Стиль кнопки "Добавить" */
.addBtn {
	padding: 10px;
	width: 25%;
	background: #d9d9d9;
	color: #555;
	float: left;
	text-align: center;
	font-size: 16px;
	cursor: pointer;
	transition: 0.3s;
	border: 0px;
}
.delBtn {
	background-color: #e0aab3;
	margin: 0;
	height: 35px;
	width: 35px;
}
.addBtn:hover {
	background-color: #bbb;
}
.sortDiv {
	background-color: #5e99b4;
	color: white;
	height: 50px;
	display: block;
	text-align: left;
}
.sortDiv {
}
